---
const { title, subtitle } = Astro.props;
---

<div class="flex">
  <div class="education__time">
    <span class="w-4 h-4 bg-primary block rounded-full mt-1"></span>
    <span
      class="education__line bg-primary block h-full w-[2px] translate-x-[7px]"
    ></span>
  </div>
  <div class="collapse collapse-plus">
    <input type="checkbox" class="peer" />
    <div class="collapse-title experience__data px-5 py-2">
      <h3 class="font-semibold mb-1">{title}</h3>
      <span class="font-light text-sm">{subtitle}</span>
    </div>
    <div class="collapse-content text-justify">
      <slot />
    </div>
  </div>
</div>
