---
import { getCollection } from "astro:content";
import HorizontalCard from "../components/HorizontalCard.astro";
import BaseLayout from "../layouts/BaseLayout.astro";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);

const last_posts = posts.slice(0, 3);
---

<BaseLayout sideBarActiveItemID="home">
  <div class="mt-5 prose">
    <div class="text-5xl font-bold">Erik Måland</div>
    <div class="text-3xl py-3">Developer and Entrepreneur</div>
    <div class="py-2">
      <text class="text-lg">
        <p>Changing the world through excellent user experiences!</p>
        <p>
          Ever since falling in love with mathematics at age 4, I have been
          fascinated with abstract structures. Being introduced to coding at age
          12, I immediately felt at home in the world of software.
        </p>
        <p>
          My professional career as a developer started after graduating from
          the University of Bergen with a master's degree in Computer Science.
        </p>
        <p>
          Since then, I have contributed to some of the most successful software
          projects in the Stavanger region of Norway.
        </p>
        <p>
          I do all aspects of web; frontend, backend, database, project
          management etc.
        </p>
        <p>
          Respecting humans and the environment is fundamental for all my
          endeavours.
        </p>
      </text>
    </div>
  </div>
</BaseLayout>
