---
import HorizontalCard from "../components/HorizontalCard.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Projects" sideBarActiveItemID="projects">
  <div>
    <div class="text-3xl w-full font-bold mb-5">Projects</div>
  </div>

  <HorizontalCard
    title="Sibel - find your dream job!"
    img="/sibel_logo_red.png"
    desc="Portal for posting and finding your next job within the IT- and design-sector"
    url="https://beta.sibel.no/"
    badge="BETA"
  />
  <div class="divider my-0"></div>

  <HorizontalCard
    title="Storhaug Mykvare"
    img="/storhaug_mykvare_logo_pixelated.png"
    desc="I made the homepage for my company, emulating teletext pages to share info and news."
    url="https://www.storhaug-mykvare.no/"
    badge="RETRO"
  />
  <div class="divider my-0"></div>
</BaseLayout>
